{{ define "main" }}
	<main>
		<section class="single_post">
            
			<h1 class="article_title">{{ .Title }}</h1>
			<time>{{ .Date.Format "02.01.2006 15:04" }}</time>
    <br>
    {{ with .Resources }}
    {{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }}
         {{ $cover := .Resize "600x" }}
         {{ with $cover }}
<div class="single_post_cover_image">
              <img src="{{ .Permalink }}"/>  
</div>
         {{ end }}
    {{ end }}
{{ end }}
            
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>

			{{ end }}
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</section>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
